:root {
    --fav: #a3dcd4;
    --c: #819679;
    --w: #ffffff;
    --b: #000000;
    --bg: #fefefe;
    --ft1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ft2: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--w);
    background-color: var(--bg);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

 header {
    padding: 20px;
    text-align: center;
    background: var(--c);
    color: var(--w);
}

header h1 {
    border: 0px;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    min-width: 250px;
    font-family: var(--ft1);
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    text-align: left;
}

header h1 .name {
    color: var(--fav);
}

header h2{
    border: 0px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 250px;
    font-family: var(--ft2);
    font-weight: 400;
    font-size: 40px;
    line-height: 70%;
    text-align: left;
}

header h2::after {
    content:"✿";
    display: inline-block;
    padding-left: 10px;
    font-size: 50px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

h4 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

header p {
    border: 0px;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    font-family: var(--ft2);
    font-size: 20px;
    padding-right: 50px;
    line-height: 80%;
    text-align: left;
}

nav {
    display: flex;
    background-color: var(--bg);
    border-bottom: 2px solid var(--c);
}
  
nav a {
    color: var(--c);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
nav a:hover {
    background-color: var(--b);
    color: var(--w);
}

main {
    margin: 70px 50px;
    color: var(--b);
    font-family: var(--ft1);
}

.bio {
    margin-left: 200px;
    margin-right: 200px;
    box-sizing: content-box;
    border: 0px;
    font-size: 40px;
    line-height: 70px;
    justify-content: space-evenly;
}

.bio ul {
    list-style: none;
    margin: 80px 80px;
    line-height: 90px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    margin: 250px 0px;
    box-sizing: content-box;
    text-align: center;
}

.box ul {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    width: 50%;
    height: 95%;
}

.contact-info {
    margin: 100px 0px;
    padding-top: 50px;
    border-top: 2px solid var(--c);
    line-height: 120%;
}

.contact-info ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
}

.message-me {
    line-height: 170%;
    text-align: center;
}

.enter {
    text-align: center;
}

.button-style {
    padding: 0px 20px;
    border: 0px;
    border-radius: 10px;
    line-height: 2.5;
    color: var(--w);
    background-color: var(--c);
}

.button-style:hover {
    background-color: var(--b);
    color: var(--w);
}

footer {
    text-align: center;
    line-height: 750%;
    background-color: var(--c);
}

@media screen and (max-width: 992px) {
    main,
    nav, 
    .bio ul {
      flex-direction: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

@media screen and (max-width: 768px) {
    main,
    nav, 
    .bio ul {
      flex-direction: column;
    }
  }