:root {
    --c: #5dc2c5;
    --w: #ffffff;
    --b: #000000;
    --bg: #ffffff;
    --ft1: #ffffff;
    --ft2: #000000;
}

* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--ft2)
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}